.middle{ 
    margin-left: 300px;
}

.addButton{ 
    margin-top: -13px;
    font-size:25px;
}


.margin-44{ 
    margin-top: 44px;    
}

.greenColor{ 
    color: green;
}


.fpx21 {
    font-size: 21px;;
}

.blue{ 
    color:blue;
}

.red{ 
    color: red;
}

.to3px{ 
    margin-top: 3px;
}

.mtop-5{ 
    margin-top: -5px;

}


.addMarginMain{ 
    margin-top: -10px;
    font-size: 25px;
}

.addMarginSub{ 
    margin-top: -10px;
    font-size: 16px;
}

.fixexMarginOk{ 
    margin-top: 2px;
    margin-left: 2px;
}


.opacity { 
    opacity: 0.3;
}